#content {
	width: 960px;
	margin: 0 auto;
}

nav {
	height: 80px;
}
	
.navbar-brand {
	color: #00A3CC;
	font-size: 24px;
}
	
a{
	color: #00A3CC;
	font-size: 18px;
}
	
.container{
	margin-top: 50px;
}
	
.card-header {
	background-color: #BDBDBD;
	color: white;
}
	
.card {
/* margin: 50px; */
	text-align: center;
}
	
#showProfile{
background-color: #00A3CC;
}
	
#chat{
	border: 3px solid #BDBDBD;
	height: 400px;
	overflow: scroll;
	overflow-x:auto;
}
	
#typeMessage {
	background-color: #BDBDBD;
}
	
#messageBtn {
	width: 100%;
}
	
.chatMsg {
	background-color: #00A3CC;
	color: white;
	margin: 10px;
	padding: 5px;
	border-radius: 7px 7px 7px 1px;
	font-size: 18px;
}