#content {
	width: 960px;
	margin: 0 auto;
}

nav {
	height: 80px;
}
	
.navbar-brand {
	color: #00A3CC;
	font-size: 24px;
}
	
a{
	color: #00A3CC;
	font-size: 18px;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
	
#showProfile{
background-color: #00A3CC;
}

.text-center {
	font-family: Arial, Helvetica, sans-serif;
}

.descript {
	background-color: rgb(96, 143, 244);
	color: white;
}

.compat {
	background-color: rgb(194, 230, 244);
}
	
#chat{
	border: 3px solid #BDBDBD;
	height: 400px;
	overflow: scroll;
	overflow-x:auto;
}
	
#typeMessage {
	background-color: #BDBDBD;
}
	
#messageBtn {
	width: 100%;
}
	
.chatMsg {
	background-color: #00A3CC;
	color: white;
	margin: 10px;
	padding: 5px;
	border-radius: 7px 7px 7px 1px;
	font-size: 18px;
}