a {
	color: #00A3CC;
	font-size: 18px;
}

nav {
	height: 80px;
}

ul {
	float: left;
}

h1 {
	box-sizing: border-box;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

h3 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	display: inline;
}

h4 {
	color: white;
	font-size: 15px;
}

th, p {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

footer {
	padding: 5px;
	text-align: center;
}

.btn {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.profile-body {
	background-color: rgb(194, 230, 244);
}
    
.navbar-brand {
	color: #00A3CC;
	font-size: 40px;
}

.heart {
	width: 35%;
	height: 35%;
}

.image-heart {
	position: relative;
	padding: 15px;
	text-align: center;
	margin-top: 50px;
}

.choices {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.container-fluid {
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

.text-center {
	font-family: Arial, Helvetica, sans-serif;
}

.img-circle {
	width: 200px;
	height: 200px;
}

.descript {
	background-color: rgb(96, 143, 244);
	color: white;
	border-radius: 25px;
}

.sun-sign {
	font-size: 70px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.navbar {
	width: 100%;
	height: 10%;
}
.table {
	margin-bottom: 10%;
}
    
#showProfile{
	background-color: #00A3CC;
	border-radius: 25px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
}

#content {
	width: 960px;
	margin: 0 auto;
	background-color: rgb(194, 230, 244);
}

#signDescription {
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	height: 200px;
	border-radius: 25px;
	padding: 15px;
	font-size: 20px;
}

#matchBtn {
	margin-right: 2%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #008CBA;
}

#container-heart {
	position: absolute;
	position:  sticky;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

#excludeBtn {
	width: 50%;
	height: 100%;
	margin: 4px 2px;
	padding: 16px 32px;
	border-radius: 50%;
	-webkit-transition-duration: 0.4s; /* Safari */
 	transition-duration: 0.4s;
 	cursor: pointer;
}
#excludeBtn:hover {
	background-color: #008CBA;
	color: antiquewhite;
}



/* ////////////////////////// 980 WIDTH /////////////////////////// */
@media screen and (max-width: 980px) {
	.heart {
		width: 70%;
		height: 70%;
	}

	h3 {
		width: 100%;
		height: 35%;
		padding: 20px;
	}

	footer {
		margin-top: 5%;
	}

}


/* ////////////////////////// 768 WIDTH /////////////////////////// */

@media screen and (max-width: 768px) {
	.heart {
		width: 70%;
		height: 70%;
	}

	h3 {
		width: 100%;
		height: 35%;
		padding: 20px;
	}

	footer {
		margin-top: 5%;
	}

}


/* ////////////////////////// 574 WIDTH /////////////////////////// */
@media screen and (max-width: 574px) {

	.heart {
		width: 90%;
		height: 90%;
		margin-bottom: 0;
	}

	h3 {
		width: 100%;
		height: 35%;
		padding: 20px;
	}

	footer {
		margin-top: 5%;
	}

	.navbar {
		display: inline-block;
	}

	h1 {
		font-size: 10px;
	}

}